body {
  min-width: 1100px;
  max-width: 1600px;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.nav {
  position: absolute;
  right: 0;
  margin-top: 30px;
  margin-right: 26px;
}
.nav-links,
.nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.header-title {
  position: absolute;
  top: 252px;
  left: 80px;
}
.span-accent,
.span-subtitle {
  display: block;
  max-width: 709px;
}
.span-accent {
  margin-bottom: 10px;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}
.span-subtitle {
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header-description {
  position: absolute;
  max-width: 683px;
  top: calc(252px + 144px + 28px);
  left: 80px;
  font-size: 20px;
  line-height: 30px;
}
.header-image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.header-info {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  bottom: 40px;
  width: 100%;
}
.headers-hours {
  position: absolute;
  margin-left: 80px;
  line-height: 10px;
  bottom: 40px;
}
.header-address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
